<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head onload="switchView()">
<style>

#freeBtn{
	display: none;
}

#funBtn{
	display: none;
}
#singleDayCalendar{
	display: none;
}

</style>
<script>

function switchView(){
	if(document.getElementById('eventRdo').checked){
		document.getElementById('freeBtn').style.display = "none";
		document.getElementById('funBtn').style.display = "block";
	}else{
		document.getElementById('funBtn').style.display = "none";
		document.getElementById('freeBtn').style.display = "block";
	}
}

function randomAdventureNumber(){
	var advRdmID = AdventureDTO[Math.floor(Math.random() * AdventureDTO.length)];	
}

function randomEventNumber(){
	var eventRdmID = EventDTO[Math.floor(Math.random() * EventDTO.length)];	
}

function makeCalendar(){
	var v = document.getElementById("inputGroupSelect01");
	var dayVal = v.options[v.selectedIndex].value;
	var day = document.getElementById("day");
	var event = document.getElementById("event");
	document.getElementById('singleDayCalendar').style.display = "block";
	
	switch (dayVal){
	
	case 1:
		day.appendChild("Sunday");
		event.appendChild("sample event");
		break;
	case 2:
		day.appendChild("Monday");
		event.appendChild("sample event");
		break;
	case 3:
		day.appendChild("Tuesday");
		event.appendChild("sample event");
		break;
	case 4:
		day.appendChild("Wednesday");
		event.appendChild("sample event");
		break;
	case 5:
		day.appendChild("Thursday");
		event.appendChild("sample event");
		break;
	case 6:
		day.appendChild("Friday");
		event.appendChild("sample event");
		break;
	case 7:
		day.appendChild("Saturday");
		event.appendChild("sample event");
		break;
	
	}
}

</script>
<meta charset="ISO-8859-1"/>
<title>Feel Free Cincinnati</title>

<link type="text/css" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>
<header><div class="text-center"><h1>Feel Free Cincinnati</h1></div>
<div class="text-center">
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="eventRdo" name="customRadioInline1" class="custom-control-input" onclick="switchView(); randomEventNumber()">
  <label class="custom-control-label" for="eventRdo">Find an Event</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="adventureRdo" name="customRadioInline1" class="custom-control-input" onclick="switchView(); randomAdventureNumber()">
  <label class="custom-control-label" for="adventureRdo">Go on an Adventure</label>
</div>
</div>

</header>

<br><br><br>
<form onsubmit="makeCalendar()">
<div class="text-center">
  <div class="form-row">
    <div class="col">
      <select class="custom-select" id="inputGroupSelect01">
     
    <option selected style='display: none' value=''>Free Day</option>
    <option value="1">Sunday</option>
    <option value="2">Monday</option>
    <option value="3">Tuesday</option>
    <option value="4">Wednesday</option>
    <option value="5">Thursday</option>
    <option value="6">Friday</option>
    <option value="7">Saturday</option>
  </select>
    </div>
    <div class="col">
      <input type="number" class="form-control" id="budget" placeholder="Budget">
    </div>
  </div>
  </div> <br>
  <p class="text-center"><button type="submit" class="btn btn-primary" id="freeBtn" onclick="window.open('src/main/resources/templates/calendar.html','Adventure Calendar','width=1000,height=600');">Feeling Free</button></p>
  <p class="text-center"><button type="submit" class="btn btn-primary" id="funBtn">Find the Fun</button></p>
</form>
<br><br>

<table style="width: 60%" id="singleDayCalendar">
	<tr>
		<th id="day"></th>
	</tr>
	<tr>
		<td id="event"></td>
	</tr>


</table>

<p class="text-center" th:text="${adventureDTO}"/>

<!-- <p>random adventure ID
<script type="text/javascript">
        document.write(advRdmID)
</script>
</p>
<p>random event ID
<script type="text/javascript">
        document.write(eventRdmID)
</script>
</p> -->

<br><br><br><br><br>
<footer>Copyright &copy; 2019 FeelFreeInc</footer>
</body>
</html>